<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOTANAS CHARLY</title>
    <link rel="shortcut icon" href="IMGCHARLY/LOGO.png" type="image/x-icon">
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <header>
        <nav>
            <a href="#">inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Portafolio</a>
            <a href="#">servicios</a>
            <a href="#">contactos</a>
        </nav>
        <section class="textos-header">
        <h1>CHARLY BOTANAS</h1>
        <h2>Catálogo de productos</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,160L80,149.3C160,139,320,117,480,138.7C640,160,800,224,960,224C1120,224,1280,160,1360,128L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z" ></path>
        </svg></div>
    </header></div>
    <main>
        <section class="contenedor sobre nosotros">
            <h2 class="titulo">QUIENES SOMOS</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="IMGCHARLY/FOTO1.png"  width="500" class="img-about-us">
                <div class="contenido-textos">
                    
                    <p>Somos una empresa orgullosamente poblana 
                        Nos enorgullece ofrecer productos de la más alta calidad, elaborados con pasión y dedicación para satisfacer los paladares más exigentes.
                        Nuestro compromiso con la excelencia comienza desde el momento en que seleccionamos cuidadosamente nuestra materia prima. Trabajamos con proveedores de confianza, garantizando que el maíz y las materias primas utilizadas en nuestros productos sean frescas, de la mejor calidad y cuidadosamente cultivadas. Nos esforzamos por mantener la autenticidad y el sabor tradicional de nuestros productos, utilizando recetas que han sido transmitidas de generación en generación. En nuestra fábrica, la calidad es una prioridad indiscutible. Contamos con maquinaria de última generación que nos permite llevar a cabo cada paso del proceso de producción de manera eficiente y precisa. Desde el amasado y moldeado de la masa, hasta la fritura y el empaquetado, todos los pasos son supervisados minuciosamente para asegurar que nuestros productos alcancen la textura y el sabor perfecto.

                    </p>
                    <p>
                        La selección del aceite es un aspecto fundamental en nuestro proceso. Utilizamos aceite de alta calidad, cuidadosamente seleccionado para garantizar un resultado final excepcional. Este aceite, junto con nuestra técnica de fritura óptima, nos permite obtener un producto final crujiente, dorado y delicioso.

Nos enorgullece decir que cumplimos con los más altos estándares de calidad, seguridad y sanidad de los alimentos. Nuestra fábrica está equipada con instalaciones modernas y cumple estrictamente con todas las regulaciones y normativas vigentes. Realizamos rigurosos controles de calidad en todas las etapas del proceso, desde la recepción de la materia prima hasta el envasado final, para garantizar que nuestros productos lleguen a ustedes en perfectas condiciones y cumplan con las expectativas más exigentes.

                    </p>
    
                </div>
            </div>
        </section>
        <section  class="Portafolio">
            <div class="contenedor">
                <h2 class="titulo">Productos</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="IMGCHARLY/CHURROS.png" width="500" >
                        <div class="hover-galeria">
                            <img src="IMGCHARLY/sinfondo.png" width="500">
                            <p>CHURROS</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="IMGCHARLY/MIX.png" width="500">
                        <div class="hover-galeria">
                            <img src="IMGCHARLY/sinfondo.png" width="500">
                            <p>MIX DE CACAHUATES</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="IMGCHARLY/MOVIEPOPS.png" width="500">
                        <div class="hover-galeria">
                            <img src="IMGCHARLY/sinfondo.png" width="500">
                            <p>MOVIE POP´S</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="IMGCHARLY/SEMILLAS.png" width="500">
                        <div class="hover-galeria">
                            <img src="IMGCHARLY/sinfondo.png" width="500">
                            <p>SEMILLAS</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="IMGCHARLY/ESPAÑOL.png" width="500">
                        <div class="hover-galeria">
                            <img src="IMGCHARLY/sinfondo.png" width="500">
                            <p>CACAHUATE ESPAÑOL</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="IMGCHARLY/AJO.png" width="500">
                        <div class="hover-galeria">
                            <img src="IMGCHARLY/sinfondo.png" width="500">
                            <p>AJO</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="IMGCHARLY/MACHO.png" width="500">
                        <div class="hover-galeria">
                            <img src="IMGCHARLY/sinfondo.png" width="500">
                            <p>CACAHUATE MACHO</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="IMGCHARLY/GRINGO.png" width="500">
                        <div class="hover-galeria">
                            <img src="IMGCHARLY/sinfondo.png" width="500">
                            <p>CACAHUATE GRINGO</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo">¡BOTANAS CHARLY!</h2>
            <div class="cards">
                <div class="card">
                    <img src="IMGCHARLY/LOGO.png" width="500">
                    <div class="contenido-texto-card">
                        <h4>Botanas Charly </h4>
                        <p>
                            Botanas Charly creo para ti una deliciosa experiencia culinaria crujiente y deliciosa que te transporta a un mundo lleno de texturas y sabores irresistibles.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="IMGCHARLY/FOTO1.png" width="500">
                    <div class="contenido-texto-card">
                        <h4>¡Se parte de la experiencia Charly!</h4>
                        <p>
                            Cada producto es una pequeña joya de placer, una obra maestra de la cocina que deleita tanto a tus sentidos como a tu alma. El crujido, el aroma, el sabor tan profundo, combina a la perfección los tonos sutiles del maíz con las especias cuidadosamente seleccionadas creando así una experiencia sensorial inigualable, dejándote con ganas de más y más, incapaz de resistirte a la tentación de saborear otra de estas delicias.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestros Servicios</h2>
                <div class="servicios-cont">
                    <div class="servicio-ind">
                        <img src="IMGCHARLY/ubi3.png" width="500">
                        <h3>Nos ubicamos en </h3>
                        <p>CALLE D, N° 4, PARQUE INDUSTRIAL
                            PUEBLA 2000, C.P. 72225.
                            </p>
                    </div>
                    <div class="servicio-ind">
                        <img src="IMGCHARLY/CHARLYIMAGEN.png" width="500">
                        <h3>¡REGALOS Y MÁS!</h3>
                        <p>En tu primera compra puedes llevarte un producto gratis de tu elección</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="IMGCHARLY/CHURROS.png" width="500">
                        <h3>¡SIGUENOS¡</h3>
                        <p>No olvides seguirnos en nuestras redes sociales para estar informado de nuestras promociones</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono fijo</h4>
                <p>2222952599</p>
            </div>
            <div class="content-foo">
                <h4>WhatsApp</h4>
                <p>2227066661</p>
            </div>
            <div class="content-foo">
                <h4>EMAIL</h4>
                <p>
                    a.mora@charlybotanas.com
                </p>
                <p>
                    admon@charlybotanas.com
                </p>
            </div>
        </div>
        <h2 class="titulo-final"> Rojas Wick </h2>
    </footer>
</body>
</html>